body {
	background: #FFFFEE;
}
#content {
	width: 66%;
	display: inline-block;
	position: absolute;
	padding: 2%;
	opacity: 0;
	top: 10px;
	left: 15%;
	background: #FFFFFF;
	border: 1px solid #DDD;
	text-align: center;
	font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
	box-shadow: 0 0 8px #CCC;
	-moz-box-shadow: 0 0 8px #CCC;
	-webkit-box-shadow: 0 0 8px #CCC;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
#content:hover {
	box-shadow: 0 0 8px #ABABAB;
	-moz-box-shadow: 0 0 8px #ABABAB;
	-webkit-box-shadow: 0 0 8px #ABABAB;
}
#content form {
	text-align: left;
}
#content a {
	color: #069;
	text-decoration: none;
}
#content h1 {
	display: block;
	background: #FFFFEE;
	padding: 15px;
	border: 1px solid #DDD;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 15px;
	color: #666;
}