body {
	background: #FFFFEE;
}
#content {
	width: 70%;
	display: inline-block;
	position: absolute;
	padding: 15px 5%;
	opacity: 0;
	top: 10px;
	left: 10%;
	background: #FFFFFF;
	border: 1px solid #DDD;
	text-align: center;
	font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
	box-shadow: 0 0 8px #CCC;
	-moz-box-shadow: 0 0 8px #CCC;
	-webkit-box-shadow: 0 0 8px #CCC;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
#content:hover {
	box-shadow: 0 0 8px #ABABAB;
	-moz-box-shadow: 0 0 8px #ABABAB;
	-webkit-box-shadow: 0 0 8px #ABABAB;
}
#content a {
	color: #069;
	text-decoration: none;
}